/* Сброс стилей для всех элементов */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Использование border-box для всех элементов */
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Удаление фокуса и активного состояния для элементов */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

/* Установка отображения блочных элементов для навигации, подвала, заголовка и боковой панели */
nav,
footer,
header,
aside {
	display: block;
}

/* Стили для контейнера */
.container {
	max-width: 1130px;
	padding: 0 15px;
	width: 100%;
}

/* Стили для размера шрифта на странице */
html {
	font-size: 16px;

	/* Медиа-запросы для разных размеров экрана */
	@media (max-width: 767px) {
		font-size: 12px;
	}
	@media (max-width: 768px) {
		font-size: 10px;
		overflow-x: hidden;
	}
}

/* Стили для основного содержимого страницы */
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;

	@media (max-width: 767px) {
		display: block;
	}
}

/* Стили для ввода, кнопок и текстовых полей */
input,
button,
textarea {
	font-family: inherit;
}

/* Удаление стандартного крестика в поле ввода для IE */
input::-ms-clear {
	display: none;
}

/* Стили для кнопок */
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Стили для ссылок */
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* Удаление маркера списка */
ul-li {
	list-style: none;
}

/* Выравнивание изображений по верхней части */
img {
	vertical-align: top;
}

/* Стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* Подключение шрифта MyFont */
@font-face {
	font-family: MyFont;
	src: url(../fonts/TTNorms-Medium.ttf);
}

/* Основные стили для страницы */
body {
	font-family: MyFont, Arial, sans-serif;
}

/* Стили для шапки */
.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	text-align: center;
	width: 100%;
	padding: 20px;
	gap: 10px;
	z-index: 999;
}

.header__container {
	max-width: 1125px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

/* Стили для ссылки "Найти на карте" */
.find__map {
	display: flex;
	align-items: center;
}

.find__map a {
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 13px;
	text-decoration-line: underline;
	color: #fff;

	/* Стили для состояния наведения */
	&:hover {
		color: #3fac3b;
	}
}

.find__map img {
	max-width: 40px;
}

/* Стили для описания */
.description a {
	font-weight: 500;
	font-size: 1rem;
	line-height: 15px;
	color: #282828;

	/* Стили для состояния наведения */
	&:hover {
		color: #3fac3b;
	}
}

/* Стили для класса .find__text */
.find__text {
	padding-top: 5px; /* Отступ сверху */
}

/* Стили для класса .logo */
.logo {
	width: 100px; /* Ширина логотипа */
	height: 100px; /* Высота логотипа */
}

/* Стили для класса .description */
.description {
	display: flex; /* Отображение элементов в строку */
	align-items: center; /* Выравнивание элементов по центру по вертикали */
	max-width: 202px; /* Максимальная ширина блока */
	font-style: normal; /* Обычный стиль шрифта */
	font-weight: 500; /* Нормальная толщина шрифта */
	font-size: 13px; /* Размер шрифта */
	line-height: 15px; /* Высота строки */
	color: #282828; /* Цвет текста */
	word-wrap: break-word; /* Перенос слов при необходимости */
}

/* Стили для класса .contact-info */
.contact-info {
	margin-top: 20px; /* Внешний отступ сверху */
	font-size: 14px; /* Размер шрифта */
}

/* Стили для класса .social-icons */
.social-icons {
	display: flex; /* Отображение элементов в строку */
	padding: 0px; /* Внутренний отступ */
	margin: 0px; /* Внешний отступ */
}

/* Стили для изображений внутри класса .social-icons */
.social-icons img {
	max-width: 100%; /* Максимальная ширина изображения */
	min-width: 90%; /* Минимальная ширина изображения */
}

/* Стили для элементов списка внутри класса .social-icons */
.social-icons li {
	display: inline-block; /* Отображение элементов списка в ряд */
	margin-right: 10px; /* Внешний отступ справа */
}

/* Стили для последнего элемента списка внутри класса .social-icons */
.social-icons li:last-child {
	margin-right: 0; /* Убрать внешний отступ справа */
}

/* Стили для класса .phone-number */
.phone-number {
	margin: 0; /* Убрать внешние отступы */
	padding: 0; /* Убрать внутренние отступы */
	font-weight: 900; /* Жирное начертание шрифта */
}

/* Стили для класса .social */
.social {
	display: flex; /* Отображение элементов в столбец */
	flex-direction: column; /* Отображение элементов в столбец */
	align-items: center; /* Выравнивание элементов по центру по вертикали */
	justify-content: center; /* Выравнивание элементов по центру по горизонтали */
}

/* Стили для класса .call */
.call {
	display: flex; /* Отображение элементов в столбец */
	flex-direction: column; /* Отображение элементов в столбец */
	align-items: center; /* Выравнивание элементов по центру по вертикали */
	justify-content: center; /* Выравнивание элементов по центру по горизонтали */
}

/* Стили для параграфов внутри класса .call */
.call > p {
	display: flex; /* Отображение элементов в столбец */
	flex-direction: column; /* Отображение элементов в столбец */
	margin: 0px; /* Убрать внешние отступы */
	padding: 0px; /* Убрать внутренние отступы */
}

/* Стили для класса .social */
.social {
	display: flex; /* Отображение элементов в столбец */
	flex-direction: column; /* Отображение элементов в столбец */
	align-items: center; /* Выравнивание элементов по центру по вертикали */
	justify-content: center; /* Выравнивание элементов по центру по горизонтали */
	gap: 2px; /* Промежуток между элементами */
}

/* Стили для класса .icon */
.icon {
	width: 30px; /* Ширина иконки */
	height: 30px; /* Высота иконки */
}

/* Стили для класса .meow */
.meow {
	margin: 0; /* Убрать внешний отступ */
}

.cta_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	.p1,
	.p2 {
		margin: 0;
		padding: 0;
	}
}

.cta_text .p2 {
	font-weight: 600;
	font-size: 3.5rem;
}

.advantages {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;

	@media (max-width: 320px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
.advantage {
	display: flex;
	gap: 20px;
	width: 100%;
	max-width: 286px;
}
.subadvantage {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	@media (max-width: 320px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.advantages__photo {
	width: 100%;
	min-width: 50%;
}

.cta {
	display: flex;
	justify-content: space-between;
	padding-top: 190px;
}

.cta__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}
}
.subadvantage__button {
	background: #3fac3b;
	border-radius: 50px;
	padding: 22px 37px;
	font-weight: 800;
	font-size: 1rem;
	line-height: 16px;
	text-transform: uppercase;
	color: white;
	&:hover {
		background: #1f851b;
	}
}

section {
	padding-bottom: 110px;
	max-width: 1125px;
	display: flex;
	flex-direction: column;
}

.fix__price .p1 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 41px;
	text-align: center;
	padding-bottom: 30px;
}

.fix__price__button {
	background: #3fac3b;
	border-radius: 50px;
	padding: 20px 18px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 15px;
	text-transform: uppercase;
	color: white;
	&:hover {
		background: #1f851b;
	}
}
.fix__price .container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mistakes__container {
	gap: 30px;

	background-image: url("../img/grass.svg");
	background-repeat: no-repeat;

	background-position: right bottom;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 30px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}
}
.mistakes__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 50px;
	min-height: 1125px;
	@media (max-width: 320px) {
		gap: 20px;
	}
}

.mistakes__text img {
	max-width: 70px;
	width: 100%;
	min-width: 20%;
}

.mistakes__photo {
	width: 100%;
}
.mistakes__photo img {
	width: 100%;
}

.mistakes__text .p1 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 104.52%;

	text-align: justify;

	/* color_ text */

	color: #282828;
}

.frame67,
.frame68 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	@media (max-width: 320px) {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
.mistake {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 16px;
	width: 100%;
}

.mistake__img {
	width: 100%;
	max-width: 70px;
}
.mistake > p {
	font-weight: 700;
	font-size: 1rem;
	line-height: 24px;

	/* color_ text */

	color: #282828;
}

.quiz {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 94px 93px;
	gap: 40px;
}

.page {
	width: 74px;
	height: 12px;

	/* color_green_elements */

	background: #3fac3b;
	border-radius: 100px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.slider {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 2rem;
}
.page {
	flex: 0 1 74px;
	height: 10px;
	border-radius: 12px;
	background-color: gray;
}
.page--active {
	background-color: #00af47;
}

.next__button {
	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */

	color: #ffffff;
	background: #3fac3b;
	border-radius: 50px;
	&:hover {
		background: #1f851b;
	}
}

.list__text .p1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 36px;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 104.52%;
	/* or 37px */

	text-align: center;

	/* color_ text */

	color: #282828;
}

.list__text .p2 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 117.52%;
	/* identical to box height, or 24px */

	text-align: center;

	color: #000000;
	padding-bottom: 166px;
}

.left__panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 10px;
	gap: 16px;
	border: 1px solid rgba(205, 205, 205, 0.6);
	border-radius: 15px;
	max-width: 457px;
}

.list__container {
	display: flex;
	flex-direction: column;
}

.list__advantage {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	width: 100%;
	max-width: 400px;
	gap: 8px;

	border-radius: 10px;
	position: relative;
	font-size: 1rem;
}

.list__advantage::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 100%;

	border-bottom: 1px dotted;
}

.list__advantage:hover {
	background: rgba(0, 175, 71, 0.3);
}

.advanteges__block {
	display: flex;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}
}

.list__advantages-text {
	padding-left: 16px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 80px;
	}
}

.list__advantages-text .p1 {
	font-weight: 700;
	font-size: 1.7rem;
	line-height: 104.52%;
}

.list__advantages-text .p2 {
	font-weight: 400;
	font-size: 1rem;
	line-height: 119.02%;
}

.first__paragraph {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	max-width: 410px;
}

.product__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 30px;

	min-width: 30%;
	background: #e1e1e1;
	border-radius: 10px;
	.p1 {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 117.52%;
	}
}

.product__card-img {
	display: inline-block; /* Строчно-блочный элемент */
	overflow: hidden; /* Скрываем всё за контуром */

	text-align: center;
	border-radius: 20px;
}
.product__card-img img {
	transition: 1s; /* Время эффекта */
	display: block;
	width: 100%; /* Убираем небольшой отступ снизу */
}
.product__card-img img:hover {
	transform: scale(1.2); /* Увеличиваем масштаб */
}

.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 70px;
	gap: 10px;

	max-width: 288px;

	background: #3fac3b;
	/* style */
	border-radius: 50px;
	font-weight: 800;
	font-size: 1rem;
	line-height: 24px;
	text-align: center;

	color: #ffffff;
	&:hover {
		background: #1f851b;
	}
}

.product__cards {
	display: flex;
	gap: 36px;
	padding-bottom: 50px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}
}

.cards__block {
	display: flex;
	max-width: 1100px;
	padding: 0 50px;
}

.individuality__description {
	display: flex;
	gap: 64px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}
.individuality .p1 {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	padding-bottom: 160px;
	text-align: center;
}
.individuality__text {
	display: flex;
	flex-direction: column;
	gap: 32px;
	@media (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.p2 {
		font-weight: 500;
		font-size: 1rem;
		line-height: 21px;
		text-align: justify;
	}
}

.individuality__container {
	min-height: 1111px;
	background-image: url("../img/grass (1) 8.png"), url("../img/grass.svg");
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	padding: 10px;
}

.individuality__photo img {
	max-width: 100%;
	min-width: none;
}

.details__container {
	text-align: center;
	.p1 {
		font-weight: 700;
		font-size: 35px;
		line-height: 117.52%;
	}
	.p2 {
		font-weight: 500;
		font-size: 20px;
		line-height: 117.52%;
		padding-bottom: 120px;
	}
}

.details1 {
	max-width: 312px;
	@media (max-width: 767px) {
		max-width: none;
		width: 100%;
	}
	.p3 {
		font-style: normal;
		font-weight: 700;
		font-size: 1rem;
		padding-bottom: 32px;
	}
}

.list {
	display: flex;
	gap: 8px;
	padding-bottom: 32px;
	.p3 {
		font-size: 2.5rem;
	}
}

.details__text {
	display: flex;
	gap: 27px;
	padding: 0px 30px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}

.details {
	min-height: 1110px;
	background-image: url("../img/grass (1) 8.png");
	background-repeat: no-repeat;

	background-position: left bottom;
}

.installation__container .p1 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 117.52%;
	padding-bottom: 142px;
	text-align: center;
}

.installation__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 32px;

	max-width: 373px;
	min-width: none;
	width: 100%;
	height: 100%;

	/* color_elements */

	background: #ffffff;
	/* style 2 */

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	.p2 {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 117.52%;
	}
}

.card__photo {
	width: 100%;
}
.installation__button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 40px;
	max-width: 188px;
	background: #3fac3b;
	border-radius: 50px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 117.52%;
	color: #ffffff;
	&:hover {
		background: #1f851b;
	}
}

.installation__container {
	width: 100%;
}

.installation__cards {
	display: flex;
	gap: 35px;
	text-align: center;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}
}
.constructions__wrapper {
	display: flex;
	flex-direction: column;
}

.constructions__container {
	.p1 {
		font-weight: 700;
		font-size: 2rem;
		line-height: 41px;
		text-align: center;
		padding-bottom: 100px;
		padding: 0 30px;
	}
}
.constructions__cards {
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 767px) {
		width: 100%;
		flex-direction: column;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}
}

.constructions__image {
	width: 100%;
	height: 100%;

	min-width: 200px;
}

.services__row-photos {
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.services__photos {
	display: flex;
	gap: 15px;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}
}

.services__photos img {
	width: 100%;
	min-width: 40%;
}
.services .p1 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 41px;
	padding-bottom: 110px;
	text-align: center;
}

.phone__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 18px 56px;

	min-width: 30%;
	width: 100%;

	/* color_green_elements */

	background: #3fac3b;
	/* style */

	border-radius: 50px;
	font-weight: 600;
	font-size: 0.7rem;
	line-height: 22px;
	color: #ffffff;
	&:hover {
		background: #1f851b;
	}
}

.form input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;

	/* color_elements */

	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

#phone-input {
	width: 100%;
	text-align: center;
}

#phone-input::placeholder {
	text-align: center;
}
.phone {
	width: 100%;
	background: rgb(247, 247, 247);
	background: linear-gradient(90deg, rgba(247, 247, 247, 1) 0%, rgba(118, 255, 129, 1) 100%);
	border-radius: 20px;
}

.form__container {
	display: flex;
	gap: 26px;

	@media (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.phone {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 76px 30px;
	font-size: 1rem;
}

.form__text {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 229px;
	.p1 {
		font-weight: 700;
		font-size: 1rem;
	}
	.p2 {
		font-weight: 500;
		font-size: 0.8rem;
	}
	.p3 {
		font-weight: 700;
		font-size: 1.1rem;
	}
	@media (max-width: 767px) {
		max-width: none;
		text-align: center;
		align-items: center;
	}
}
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: #555555;
	gap: 40px;
	max-height: none;
	width: 100%;
	.p1 {
		font-weight: 500;
		font-size: 1rem;
		line-height: 119.52%;
		/* or 16px */

		color: #ffffff;
	}
	@media (max-width: 768px) {
		gap: 10px;
	}
	@media (max-width: 320px) {
		flex-direction: column;
		gap: 30px;
	}
}

.footer__content a {
	font-weight: 500;
	font-size: 0.8rem;
	line-height: 119.52%;
	/* or 16px */

	color: #ffffff;
	transition: color 0.3s ease-out;
	&:hover {
		color: #00af47;
		text-decoration: underline;
	}
}

.logo__footer {
	width: 100%;
	max-width: 70px;
}

.scroll-to-top img {
	padding: 7px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	text-align: center;
	line-height: 20px;
	border-radius: 100%;
	opacity: 0.5;
	z-index: 999;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.scroll-to-top img:hover {
	opacity: 1;
}

.menu__body {
	display: flex;
	gap: 30px;
	p {
		font-size: 1rem;
	}
}

.menu__icon {
	display: none;
	left: 0;
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		display: flex;
		text-align: right;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding-top: 100px;
		transition: left 0.3s ease 0s;
		overflow: auto;
		color: #fff;
	}

	.header {
		display: block;
		left: 1%;
		top: 0.5%;
	}
	.menu__body .p1 a {
		color: #fff;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #fff;
		-webkit-box-shadow: 0px 17px 11px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 17px 11px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 17px 11px 0px rgba(0, 0, 0, 0.3);
		z-index: 2;
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__link {
		font-size: 24px;
	}
	.header__menu {
		padding: 25px 0px 0px 30px;
	}
	h1 {
		font-size: 2rem; /* Размер шрифта для более узких экранов */
	}
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9998;
}

.popup-content {
	background-color: #ffffff;
	padding: 20px;
	max-width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.close-btn {
	background: #3fac3b;
	border-radius: 50px;
	padding: 15px 18px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: white;
}

.tabs {
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.tab-header {
	display: flex;
	background-color: #f5f5f5;
}

.tab-item {
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
	color: #333;
	transition: background-color 0.3s ease;
	font-size: 1rem;
}

.tab-item:hover {
	background-color: #ddd;
}

.tab-item.active {
	background-color: #fff;
}

.tab-content {
	padding: 20px;
	background-color: #fff;
	img {
		width: 100%;
		min-width: 300px;
	}
}
.tab-content img {
	width: 100%;
	min-width: 20%;
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

.tab-pane .p1 {
	font-weight: 700;
	font-size: 2.5rem;
}

.tab-pane .p2 {
	font-weight: 500;
	line-height: 21px;
	text-align: justify;
	font-size: 1rem;
	@media (max-width: 767px) {
		font-size: 2rem;
	}
}
.tab__images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	width: 100%;
}
.tab__image1 {
	width: 100%;
}
.tab__images2 {
	display: flex;
	gap: 10px;
}
.tab__image2 {
	width: 100%;
}
.tab__text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 32px;
	width: 100%;
	max-width: 565px;
}
.tab__buttons {
	display: flex;
	gap: 32px;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.phone__button {
}
.tab1 {
	display: flex;
	gap: 80px;
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.tab__button1 {
	font-weight: 800;
	font-size: 1rem;
	text-transform: uppercase;

	/* color_elements */

	color: #ffffff;
	background: #3fac3b;
	padding: 20px 30px;
	/* style */

	border-radius: 50px;
	@media (max-width: 767px) {
		font-size: 1rem;
	}
	&:hover {
		background: #1f851b;
	}
}
.tab__button2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	gap: 10px;
	font-size: 1rem;
	background: #ffffff;
	/* color_green_elements */

	border: 1px solid #3fac3b;
	border-radius: 50px;
	font-weight: 800;
	/* identical to box height */

	text-transform: uppercase;

	/* color_green_elements */

	color: #3fac3b;
	@media (max-width: 767px) {
		font-size: 1rem;
	}
	&:hover {
		background: #96d594;
		color: #fff;
	}
}

.swiper {
	width: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 1rem;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	@media (max-width: 1920px) {
		width: 100%;
	}
}

.swiper-slide img {
	width: 100%;
	object-fit: cover;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	z-index: 9999;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

h1 {
	margin-top: 30px;
	text-align: center;
	color: teal;
	font-size: 2.2em;
	letter-spacing: 0.01em;
}
.testimonials {
	max-width: 800px;
	margin: auto;
	padding: 15px;
	text-align: center;
	position: relative;
}
.scroller {
	overflow-x: scroll;
	display: flex;
	scroll-snap-type: x mandatory;
}
.item {
	min-width: 100%;
	scroll-snap-align: center;
	background-color: white;
	margin-bottom: 10px;
	padding: 0 50px;
}
.item img {
	width: 100%;
	z-index: 2;
}
.card {
	background-color: rgb(237, 242, 247);
	border-radius: 20px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	z-index: 1;
}
.card p {
	font-style: italic;
	line-height: 1.6;
}
.card span {
	display: block;
	margin-top: 20px;
	color: teal;
	font-weight: bold;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.testimonials .btn {
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: rgba(95, 106, 117, 0.3);
	z-index: 1;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
}
.testimonials .btn:hover {
	background-color: rgba(95, 106, 117, 0.5);
	cursor: pointer;
}
.testimonials .btn.next {
	right: 15px;
}
.testimonials .btn.prev {
	left: 15px;
}
@media screen and (max-width: 480px) {
	.item {
		padding: 0 30px;
	}
}
